.weather-app--navigation {
  width: 100%;
  height: 21vh;
  box-sizing: border-box;
  background-color: #313131; }
  .weather-app--navigation__time {
    color: #ffffff;
    font-size: 1.4rem;
    text-align: center; }
  .weather-app--navigation__input .auto {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 15;
    background-color: #313131; }
    .weather-app--navigation__input .auto input {
      width: 90%;
      height: 25px;
      padding: 2%;
      outline: 0;
      border: none;
      color: #ffffff;
      display: block;
      margin: 15% auto 5%;
      border-radius: 5px;
      background-color: #484848; }
    .weather-app--navigation__input .auto .autocomplete-items {
      background-color: #313131;
      padding: 0 2%; }
      .weather-app--navigation__input .auto .autocomplete-items div {
        padding: 2%;
        color: #ffffff;
        margin: 3% auto;
        border-radius: 5px;
        background-color: #484848; }

.weather-app__main {
  width: 100vw;
  height: 80vh;
  margin: 0 auto;
  border-radius: 25px 25px 0 0;
  background-position: center; }
  .weather-app__main__temp-type {
    color: #ffffff;
    position: absolute;
    top: auto;
    left: 5%;
    right: auto;
    bottom: 20%;
    z-index: 0;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    flex-wrap: unset; }
    .weather-app__main__temp-type__weather-con {
      font-size: 1rem; }
    .weather-app__main__temp-type__weather-temp {
      font-size: 4rem;
      line-height: 4rem;
      letter-spacing: normal; }
      .weather-app__main__temp-type__weather-temp span {
        font-size: 1.5rem;
        vertical-align: super; }

/*ANIMATION*/
.rotate {
  transform: rotate(135deg); }

@media (min-width: 768px) {
  .slide {
    transform: scale3d(60, 60, 60); } }

@media (min-width: 320px) {
  .slide {
    transform: scale3d(100, 100, 100); } }

@keyframes menuFade {
  0% {
    z-index: 0;
    opacity: 0.8; }
  100% {
    z-index: 60;
    opacity: 1; } }

/*ANIMATION*/
.circle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: rgba(49, 49, 49, 0.9);
  position: fixed;
  top: auto;
  left: auto;
  right: 8%;
  bottom: 6%;
  z-index: 10;
  transition: transform 0.4s cubic-bezier(0.83, 0, 0.17, 1); }

.weather-app--info {
  width: 35px;
  height: 35px;
  color: #000000;
  text-align: center;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.7);
  position: absolute;
  top: auto;
  left: auto;
  right: 5%;
  bottom: 5%;
  z-index: 40;
  transition: transform 0.4s cubic-bezier(0.33, 1, 0.68, 1); }
  .weather-app--info svg {
    width: 20px;
    vertical-align: bottom;
    transform-origin: center center;
    transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1); }

.weather-app__menu {
  opacity: 0;
  height: 85%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 10;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: unset;
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1); }
  .weather-app__menu__cont {
    width: 95%;
    padding: 3%;
    color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #313131;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: unset;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.7); }
    .weather-app__menu__cont svg {
      width: 25px;
      height: 25px; }

.show {
  animation-delay: 0.3s;
  animation-duration: 0.3s;
  animation-name: menuFade;
  animation-fill-mode: forwards;
  animation-iteration-count: 1; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Catamaran", sans-serif;
  background-color: #313131;
  overflow: hidden; }
  @media (min-width: 767px) {
    body {
      display: none; } }
  body p {
    font-size: 16px;
    letter-spacing: 0.1em; }
