* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Catamaran', sans-serif;
  background: #313131; }
  body .weather-app--info {
    position: absolute;
    right: 5%;
    bottom: 5%;
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 30px;
    color: black;
    text-align: center;
    z-index: 50000;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.7);
    transition: transform 0.4s cubic-bezier(0.33, 1, 0.68, 1); }
    body .weather-app--info svg {
      transform-origin: center center;
      width: 20px;
      vertical-align: bottom;
      transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1); }
  body .weather-app--navigation {
    width: 100%;
    height: 20vh;
    box-sizing: border-box;
    background-color: #313131; }
    body .weather-app--navigation__time {
      color: #ffffff;
      font-size: 1.4rem;
      text-align: center; }
    body .weather-app--navigation__input .auto {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 400000;
      background-color: #313131; }
      body .weather-app--navigation__input .auto input {
        margin: 5% auto;
        display: block;
        border: none;
        background-color: #484848;
        height: 25px;
        border-radius: 5px;
        color: white;
        width: 90%;
        padding: 2%;
        outline: 0; }
      body .weather-app--navigation__input .auto .autocomplete-items {
        background-color: #313131;
        padding: 0 2%; }
        body .weather-app--navigation__input .auto .autocomplete-items div {
          background-color: #484848;
          border-radius: 5px;
          padding: 2%;
          margin: 3% auto;
          color: white; }

.rotate {
  transform: rotate(135deg); }

.slide {
  transform: scale3d(60, 60, 60); }

.menu {
  width: 20px;
  height: 20px;
  position: fixed;
  right: 8%;
  background-color: rgba(49, 49, 49, 0.9);
  border-radius: 20px;
  bottom: 6%;
  z-index: 900;
  transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1); }

.menu-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 85%;
  width: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: -50;
  animation-delay: 1s;
  transition: opacity 0.9s cubic-bezier(0.33, 1, 0.68, 1); }
  .menu-info__cont {
    width: 95%;
    background-color: #313131;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.7); }
    .menu-info__cont svg {
      width: 12%; }

.show {
  z-index: 500000;
  opacity: 1; }

.weather-app__main {
  width: 100vw;
  margin: 0 auto;
  height: 80vh;
  border-radius: 25px 25px 0 0; }
  .weather-app__main__temp-type {
    position: absolute;
    bottom: 20%;
    left: 5%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    flex-wrap: unset;
    padding: 50% 0 0 5%; }
    .weather-app__main__temp-type__weather-con {
      font-size: 1rem; }
    .weather-app__main__temp-type__weather-temp {
      font-size: 4rem;
      line-height: 4rem; }
      .weather-app__main__temp-type__weather-temp span {
        font-size: 1.5rem;
        vertical-align: top; }

.weather-app__footer {
  display: none;
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #313131;
  z-index: 800; }
  .weather-app__footer__grid {
    background-color: #4992fb;
    color: white;
    width: 90%;
    padding: 4%;
    box-sizing: border-box;
    border-radius: 5px; }
    .weather-app__footer__grid__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .weather-app__footer__grid__content svg {
        width: 15%; }

/*.slide{
  display: flex;
    height:100%;
}*/
