@mixin breakpoint($size) {
    @if $size == mobile {
        @media only screen and (min-device-width: 375px) and (max-device-width: 812px) { @content; }
    }
  }

  @mixin flex($direction,$justify,$align,$wrap){
      display:flex;
      flex-direction: $direction;
      justify-content: $justify;
      align-items: $align;
      flex-wrap: $wrap;
  }
  @mixin position($type,$top,$left,$right,$btm,$index){
    position:$type;
    top:$top;
    left:$left;
    right:$right;
    bottom:$btm;
    z-index:$index;
}