.weather-app {
  &__main {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    border-radius: 25px 25px 0 0;
    background-position: center;
    &__temp-type {
      color: $white;
      @include position(absolute, auto, 5%, auto, 20%, 0);
      @include flex(column, unset, unset, unset);
      @media(min-width:767px){
        display:none;
      }
      &__weather-con {
        font-size: 1rem;
      }
      &__weather-temp {
        font-size: 4rem;
        line-height: 4rem;
        letter-spacing: normal;

        span {
          font-size: 1.5rem;
          vertical-align: super;
        }
      }
    }
  }
}
