/*ANIMATION*/
.rotate {
  transform: rotate(135deg);
}
.slide {
  @media (min-width: 768px) {
    transform: scale3d(60, 60, 60);
  }
  @media (min-width: 320px) {
    transform: scale3d(100, 100, 100);
  }
}


@keyframes menuFade {
  0% {
    z-index: 0;
    opacity: 0.8;
  }
  100% {
    z-index: 60;
    opacity: 1;
  }
}
/*ANIMATION*/

.circle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: rgba(49, 49, 49, 0.9);
  @include position(fixed, auto, auto, 8%, 6%, 10);
  transition: transform 0.4s cubic-bezier(0.83, 0, 0.17, 1);
}
.weather-app {
  &--info {
    width: 35px;
    height: 35px;
    color: $black;
    text-align: center;
    border-radius: 30px;
    background-color: $white;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.7);
    @include position(absolute, auto, auto, 5%, 5%, 40);
    transition: transform 0.4s cubic-bezier(0.33, 1, 0.68, 1);
    @media (min-width: 767px) {
      width: 60px;
      height: 60px;
      border-radius: 60px;
    }
    svg {
      width: 20px;
      vertical-align: bottom;
      transform-origin: center center;
      transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
      @media(min-width:767px){
        width: 35px;
        margin: 12px 0 0 0;
      }
    }
  }
  &__menu {
    opacity: 0;
    height: 85%;
    width: 100%;
    overflow: hidden;
    @include position(absolute, 0, 0, 0, auto, 10);
    @include flex(column, space-evenly, center, unset);
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    &__cont {
      width: 95%;
      padding: 3%;
      color: $white;
      border-radius: 5px;
      box-sizing: border-box;
      background-color: $drk-grey;
      @include flex(row, space-between, center, unset);
      box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.7);
      svg {
        width: 25px;
        height: 25px;
        @media (min-width: 767px) {
          width: 50px;
          height: 50px;
        }
    }
  }
}
}
.show {
  animation-delay: 0.3s;
  animation-duration: 0.3s;
  animation-name: menuFade;
  animation-fill-mode:forwards;
  animation-iteration-count: 1;
}
