.weather-app {
  &--navigation {
    width: 100%;
    height: 21vh;
    box-sizing: border-box;
    background-color: $drk-grey;

    &__time {
      color: $white;
      font-size: 1.4rem;
      text-align: center;
    }
    &__input {
      .auto {
        @include position(absolute, auto, 0, 0, auto, 15);
        background-color: $drk-grey;
        input {
          width: 90%;
          height: 25px;
          padding: 2%;
          outline: 0;
          border: none;
          color: $white;
          display: block;
          margin: 5% auto;
          border-radius: 5px;
          background-color: $light-grey;
        }
        .autocomplete-items {
          background-color: $drk-grey;
          padding: 0 2%;

          div {
            padding: 2%;
            color: $white;
            margin: 3% auto;
            border-radius: 5px;
            background-color: $light-grey;
          }
        }
      }
    }
  }
}
